/* BASE */

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
}

p {
    word-break: break-all;
}

main {
    width: 80vw;
    margin: auto;
}

/* NAVBAR */

nav {
    background-color: #FFFC31;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

.menu img {
    width: 2.5rem;
    cursor: pointer;
}

.menu__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    color: #FFFC31;
    padding: 0;
    font-size: 1.25rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: #5C415D;
}

.menu__links a {
    transition: 0.5s ease-in-out;
    color: #FFFC31;
    cursor: pointer;
}

/* TYPER */

.typer {
    margin: 1rem auto;
}

.typer__content {
    display: flex;
    flex-direction: column;    
}

.typer__content textarea {
    border-radius: 0.5rem;
    margin-top: 1rem; 
}

.typer__btn--container {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.typer__counter {
    text-align: right;
    margin-right: 1rem;
}

.typer__btn {
    background-color: #5C415D;
    color: #FFFC31;
    box-shadow: 2px 2px 5px grey;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.typer__btn:hover {
    box-shadow: none;
}


/* TWEETS */

.tweets {
    display: flex;
    flex-direction: column-reverse;
}

.tweets__container {
    border: 1px solid #5C415D;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0.5rem 0;
}

.tweets__user {
    display: flex;
    align-items: center;
    justify-content: left;
}


/* CADASTRO */

.cadastro__container {
    width: 15rem;
    border-radius: 1rem;
    padding: 1rem 0;
    background-color: #5C415D;
    margin: 8rem auto;
}

.cadastro__form {
    display: flex;
    flex-direction: column;
    width: 11rem;
    margin: auto;
    color: white;
}

.cadastro__input {
    margin: 0 0 1rem 0;
    border: none;
    color: #FFFC31;
    border-bottom: 1px solid #FFFC31;
    background-color: #5C415D
}

.cat__images {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cat__images img {
    margin: 1rem auto;
    border-radius: 1rem;
}

.cat__images img:hover {
    scale: 1rem;
    opacity: 0.7;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

/* MEDIA QUERIES */

@media (min-width: 900px) {
    body {
      font-size: 16px;
    }

    main {
        width: 90vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .typer {
        width: 20rem;
        margin: 0;
    }
    
    .tweets {
        width: 40rem;
        background-color: #ffcdbc66;
        border-radius: 1rem;
        padding: 1rem;
    }

    .tweets__container {
        width: 38rem;
        margin: .5rem auto;
        background-color: white;
    }
  }